.flex-container {
    display: flex;
    background-color: DodgerBlue;
    height: 500px;
    justify-content: space-between;
}

.flex-items {
    align-self: center;
}

h1 {
    background-color: gray;
    height: 100px;
}

.view {
    display: flex;
    background-color: green;
}

.butn1 {
    visibility: hidden;
}

img {
    height: 200px;
    width: 150px;
}